autopep8==1.5
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
entrypoints==0.3
flake8==3.7.9
future==0.18.2
gitdb2==2.0.6
GitPython==3.0.7
google==2.0.3
huepy==1.2.1
idna==2.8
instabot==0.106.0
lizard==1.17.3
mccabe==0.6.1
pycodestyle==2.5.0
PyDriller==1.11
pyflakes==2.1.1
PySocks==1.7.1
pytz==2019.3
requests==2.22.0
requests-toolbelt==0.9.1
responses==0.10.9
schedule==0.6.0
six==1.14.0
smmap2==2.0.5
soupsieve==1.9.5
tqdm==4.42.1
urllib3==1.25.8
ypackage==2.7.2
